
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components
    .invalidInput {
        background-color: #ff7d7d;
        border: 1px solid red;
    }
    .invalidLabel {
        color: red;
    }
    .validInput {
        background-color: white;
        border: 1px solid gray;
    }